<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings file="C:\Users\mattm\source\repos\Lurgle.Logging\LurgleTest\secrets.config">
    <!-- Automatically add the calling method name as a property-->
    <add key="EnableMethodNameProperty" value="true" />
    <!-- Automatically add the source file path as a property-->
    <add key="EnableSourceFileProperty" value="true" />
    <!-- Filter out path -->
    <add key="IncludeSourceFilePath" value="false" />
    <!-- Automatically add the line number as a property-->
    <add key="EnableLineNumberProperty" value="true" />
    <!-- Automatically write an "Initialising" event during Init -->
    <add key="LogWriteInit" value="false" />
    <!-- Maintain a cache of correlation ids for each thread -->
    <add key="EnableCorrelationCache" value="true" />
    <!-- Set the time before threads & correlation ids expire from the cache -->
    <add key="CorrelationCacheExpiry" value="600" />
    <!-- Meaningful name that will be used as the app name for logging purposes -->
    <add key="AppName" value="LurgleTest" />
    <!-- logType is a comma separated list that can target Console, File, EventLog, Seq, and Splunk-->
    <add key="LogType" value="Console,File,EventLog,Seq,Splunk" />
    <!-- Properties that should automatically be masked -->
    <add key="LogMaskProperties" value="Password,Email,Mechagodzilla,Testcommonmask,testcommonmask2" />
    <!-- Define the applicable policy for masking - None, MaskWithString, MaskLettersAndNumbers -->
    <add key="LogMaskPolicy" value="MaskWithString" />
    <!-- Mask pattern to use when masking properties -->
    <add key="LogMaskPattern" value="XXXXXX" />
    <!-- Define the mask character to use for non-digit values in masking if MaskLettersAndNumbers is used -->
    <add key="LogMaskCharacter" value="X" />
    <!--  Define the mask character to use for digit values in masking if MaskLettersAndNumbers is used -->
    <add key="LogMaskDigit" value="*" />
    <!-- Theme for the console - Literate, Grayscale, Colored, AnsiLiterate, AnsiGrayscale, AnsiCode -->
    <add key="LogConsoleTheme" value="Literate" />
    <!-- Location for the file log -->
    <add key="LogFolder" value="C:\TEMP\TEMP\log" />
    <!-- Prefix for the file log name, hyphen and date will be appended -->
    <add key="LogName" value="Lurgle" />
    <!-- Extension for the file log name, defaults to .log-->
    <add key="LogExtension" value=".log" />
    <!-- For the Windows Event Log, the event source name-->
    <add key="LogEventSource" value="LurgleTest" />
    <!-- For the Windows Event Log, the destination log (eg. Application) -->
    <add key="LogEventName" value="Application" />
    <!-- Format for log files - Text or Json. Json will not use LogFormatFile to format messages -->
    <add key="LogFileType" value="Json" />
    <!-- LogDays controls how many days log files will be retained, default is 31 -->
    <add key="LogDays" value="31" />
    <!-- LogFlush controls how many seconds before log file writes are flushed to disk -->
    <add key="LogFlush" value="5" />
    <!-- Allow the log file to be shared by multiple processes. Cannot be enabled with LogBuffered = true -->
    <add key="LogShared" value="false" />
    <!-- Allow the log file to be buffered. Cannot be used with LogShared = true -->
    <add key="LogBuffered" value="false" />
    <!-- Minimum LogLevel that can be written - Verbose, Debug, Information, Warning, Error, Fatal-->
    <add key="LogLevel" value="Verbose" />
    <!-- Set minimum log level for the individual sink - Verbose, Debug, Information, Warning, Error, Fatal -->
    <add key="LogLevelConsole" value="Verbose" />
    <add key="LogLevelFile" value="Verbose" />
    <add key="LogLevelEvent" value="Warning" />
    <add key="LogLevelSeq" value="Verbose" />
    <add key="LogLevelSplunk" value="Verbose" />
    <!-- Seq server URL, eg. https://seq.domain.com -->
    <add key="LogSeqServer" value="" />
    <!-- Seq API key - if blank, no API key will be used-->
    <add key="LogSeqApiKey" value="" />
    <!-- Optional Seq proxy settings. This also works for Splunk. -->
    <add key="LogSeqUseProxy" value="false" />
    <add key="LogSeqProxyServer" value="" />
    <add key="LogSeqBypassProxyOnLocal" value="false" />
    <add key="LogSeqProxyBypass" value="" />
    <add key="LogSeqProxyUser" value="" />
    <add key="LogSeqProxyPassword" value="" />
    <!-- Splunk server URL, eg. https://splunk.domain.com:8088/services/collector -->
    <add key="LogSplunkHost" value="" />
    <!-- Splunk event collector token. If blank, no token will be used-->
    <add key="LogSplunkToken" value="" />
    <!-- Log formats -->
    <add key="LogFormatConsole" value="{Message}{NewLine}" />
    <add key="LogFormatEvent" value="({ThreadId}) {Message}{NewLine}{NewLine}{Exception}" />
    <add key="LogFormatFile" value="{Timestamp:yyyy-MM-dd HH:mm:ss}: ({ThreadId}) [{Level}] {Message}{NewLine}" />
  </appSettings>
</configuration>