@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>LurgleWebTest</h2>
        <ul>
            <li>A simple test for integrating Lurgle.Logging to web projects.</li>
            <li>This only validates sending logs to the various targets during initialisation and does not fully integrate logging.</li>
        </ul>
    </div>
</div>
